<div class="col-xs-10 col-xs-offset-1">

  <div class="row">
    <kpi-stat [value]="(kpiMin | number:'0.1-1') + ' Mh/s'"
              label="{{alias | alias}}  Low">
    </kpi-stat>

    <kpi-stat [value]="(kpiMax |  number:'0.1-1') + ' Mh/s'" 
              label="{{alias | alias}} High" 
              color="purple">
    </kpi-stat>

    <kpi-stat [value]="(kpiAvg |  number:'0.1-1') + ' Mh/s'" 
              label="{{alias | alias}} Average" color="aqua">
    </kpi-stat>

    <kpi-stat [value]="(kpiTotal |  number:'0.1-1') + ' Mh/s'" label="Live Total" color="bg-red">
    </kpi-stat>
  </div>

  <div class="btn-group btn-group-alias">
    <button [class.active]="alias == '10M'" (click)="setAlias('10M')" type="button" class="btn btn-primary">10M</button>
    <button [class.active]="alias == '1H'" (click)="setAlias('1H')" type="button" class="btn btn-primary">1H</button>
    <button [class.active]="alias == '6H'" (click)="setAlias('6H')" type="button" class="btn btn-primary">6H</button>
    <button [class.active]="alias == '12H'" (click)="setAlias('12H')" type="button" class="btn btn-primary">12H</button>
  </div>

  <div class="box table-box">
    <dual-hash-chart [legendLabels]="legendLabels" [data]="areaData"></dual-hash-chart>
  </div>
</div>