<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div formArrayName="rigs" class="well well-lg col-xs-5">
    <div *ngFor="let rig of rigs.controls; let i=index" [formGroupName]="i">

      <div class="form-group">
        <label>Name</label>
        <input class="form-control" formControlName="name">
      </div>

      <div class="form-group">
          <label>Ip</label>
          <input class="form-control" formControlName="ip">
        </div>

    </div>

    <button type="button" (click)="add()"
    class="btn btn-primary">Add</button>

    <button type="submit"
     class="btn btn-success">Save</button>

  </div>

</form>