<div class="col-xs-10 col-xs-offset-1">

  <div class="row">
    <kpi-stat [value]="(kpiMin/1000 | number:'0.1-1') + ' Mh/s'"
              label="1 Hour Low">
    </kpi-stat>

    <kpi-stat [value]="(kpiMax/1000 |  number:'0.1-1') + ' Mh/s'" 
              label="1 Hour High" 
              color="purple">
    </kpi-stat>

    <kpi-stat [value]="(kpiAvg/1000 |  number:'0.1-1') + ' Mh/s'" 
              label="1 Hour Average" color="aqua">
    </kpi-stat>
  </div>

  <div class="box table-box">
    <eth-hash-chart [data]="areaData"></eth-hash-chart>
  </div>
</div>